@import url("https://use.typekit.net/nut7jfe.css");

$system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

body {
	font: normal 20px / 1.6 'Adobe Caslon Pro';
	padding: 0;
	margin: 0 0 100px;
}

section {
	padding: 100px;
	max-width: 600px;

	h1, h2, h3, h4, h5, h6 {
		font-family: $system;
	}

	h1 {
		font-size: 40px;
	}
}

footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 80px;
	background: #eee;
	padding: 20px;
}

.synthesiser {
	font-family: $system;
	max-width: 500px;
	margin: 100px;

	button {
		background: #658d99;
		font-weight: bold;
		font-size: 13px;
		text-transform: uppercase;
		display: block;
		padding: 10px 20px;
		border: 0;
		border-radius: 5px;
		margin: 10px 0;
		cursor: pointer;
		transition: transform 0.1s, background 0.3s;
		color: white;



		&:hover {
			background: #5294b7;
		}

		&:active {
			background: black;
			transform: translateY(1px);
		}
	}
}
